@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa:700&display=swap&subset=cyrillic");

@keyframes xAxis {
  0% {
    transform: translateX(-2vw);
  }
  15% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(2vw);
  }
  85% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-2vw);
  }
}
@keyframes xAxis2 {
  0% {
    transform: translateX(-1.5vw);
  }
  15% {
    transform: translateX(0vw);
  }
  53% {
    transform: translateX(1.5vw);
  }
  85% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-1.5vw);
  }
}

@keyframes yAxis {
  0% {
    transform: translateY(0vw);
  }
  20% {
    transform: translateY(-1.5vw);
  }
  55% {
    transform: translateY(0vw);
  }
  85% {
    transform: translateY(1.5vw);
  }
  100% {
    transform: translateY(0vw);
  }
}
@keyframes yAxis_2 {
  0% {
    transform: translateY(0vw);
  }
  15% {
    transform: translateY(1.3vw);
  }
  65% {
    transform: translateY(0vw);
  }
  85% {
    transform: translateY(-1.5vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Comfortaa", cursive;
  overflow-x: hidden;
  background: linear-gradient(
    180deg,
    #dff4f2 29.77%,
    #d5edee 33.83%,
    #b9dce3 40.83%,
    #8cbfd1 49.93%,
    #4d97b8 60.76%,
    #006699 72.68%
  );
}

.corals {
  height: 309vw;
  margin-top: -70vh;
}

.corals__wrapper.bg {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.corals__animate {
  animation: yAxis 8s infinite linear;
}

.corals__wrapper {
  width: 100%;
  animation: xAxis 7s infinite linear;
}

.corals__wrapper img {
  height: 309vw;
}

.corals__wrapper.animate1 {
  animation-delay: 0.6s;
}
.corals__wrapper.animate2 {
  z-index: 11;
  animation-direction: alternate-reverse;
  animation-delay: 0.4s;
}
.corals__wrapper.animate3 {
  z-index: 8;
  animation-direction: reverse;
  animation-delay: 0.1s;
}
.corals__wrapper.animate4 {
  z-index: 7;
  animation-direction: reverse;
  animation-delay: 0.5s;
  animation: xAxis2 6s infinite linear;
}
.corals__wrapper.animate5 {
  z-index: -1;
  animation-direction: reverse;
  animation-delay: 0.6s;
  animation: xAxis2 4s infinite linear;
}

.corals__animate.animate1 {
  margin-left: -5vw;
  z-index: 9;
}
.corals__animate.animate2 {
  animation-direction: reverse;
  animation-delay: 0.2s;
  margin-left: -2vw;
}
.corals__animate.animate3 {
  animation-direction: alternate-reverse;
  animation-delay: 0.4s;
  margin-left: -3.8vw;
}
.corals__animate.animate4 {
  animation-delay: 0.6s;
  animation: yAxis2 6s infinite linear;
  margin-left: -2vw;
}
.corals__animate.animate5 {
  animation-direction: reverse;
  animation-delay: 0.3s;
  animation: yAxis2 7s infinite linear;
  margin-left: -15vw;
}

.fish {
  position: sticky;
  -webkit-position: sticky;
  -moz-position: sticky;
  -ms-position: sticky;
  -o-position: sticky;
  height: 70vh;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}

.text {
  position: absolute;
  margin-top: 50px;
  top: 0;
  width: 100%;
  z-index: 20;
}

.text img {
  margin-bottom: 18.5vw;
}

.text__wrapper.-right {
  margin-right: 50px;
  text-align: right;
}

.text__wrapper.-left {
  margin-left: 50px;
}

.h1-1 {
  width: 76vw;
}
.h1-2 {
  width: 37vw;
}
.h1-3 {
  width: 57vw;
}
.h1-4 {
  width: 87vw;
}

footer {
  margin: 65px 50px 50px 50px;
}
.footer__line {
  width: 100%;
}

.footer__content {
  margin: 36px 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  line-height: 140%;
}

.medium,
.small {
  display: none;
}

.footer__content > * {
  flex: 1;
}
.footer__content__contacts {
  text-align: right;
}


@media (min-width: 768px) and (max-width: 1279px) {
  /* footer for vertical and horizontal tablet*/
  .text {
    margin-top: 25px;
  }
  .text__wrapper.-right {
    margin: 0 20px 0 0;
  }
  .text__wrapper.-left {
    margin: 0 0 0 20px;
  }
  footer {
    margin: 45px 25px 25px;
  }
  .footer__content {
    margin: 20px 20px 15px;
    font-size: 14px;
  }
  .logo.big {
    display: none;
  }
  .logo.medium {
    display: block;
    height: 55px;
    flex: 0.5;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
/* change corals and text margin for vertical tablet */
  .corals__container.big {
    display: none;
  }
  .corals__container.medium {
    display: block;
  }
  .corals__container.medium .corals__animate {
    margin-left: -15vw;
  }
  .corals, 
  .corals__wrapper img {
    height: 485vw;
  }
  .text img {
    margin-bottom: 56vw;
  }
}

@media (max-width: 767px) {
  /* mobile */
  .fish {
    height: auto;
    width: 38vw;
  }

  .corals {
    margin-top: -82vw;
  }
  .corals__container.big {
    display: none;
  }
  .corals__container.small {
    display: block;
  }
  .corals__container.small .corals__animate {
    margin-left: -13vw;
  }
  .corals, 
  .corals__wrapper img {
    height: 669vw;
  }

  .text {
    margin-top: 15px;
  }
  .text img {
    margin-bottom: 88vw;
  }
  .text__wrapper.-right {
    margin: 0 10px;
  }
  .text__wrapper.-left {
    margin: 0 10px;
  }
  .h1-1,
  .h1-2,
  .h1-3,
  .h1-4 {
    width: 100%;
  }
  .h1-4.big {
    display: none;
  }
  .h1-4.small {
    display: block;
  }

  footer {
    margin: 10px 0;
  }
  .footer__content {
    margin: 7px 10px 5px;
    font-size: 9px;
  }
  .logo.big {
    display: none;
  }
  .logo.medium {
    display: block;
    height: 30px;
    flex: 0.4;
  }
}

@media (max-width: 767px) and (min-height: 800px) {
  .fish {
    top: 40vh;
  }
}